*.pyc
__pycache__
*.egg-info/
/build/
/dist/
/result
.venv*
*.log
core
___*.py
___*
.idea
.envrc
.direnv
*.json
dataset/stage1_data/*
dataset/stage2_data/*
!dataset/stage1_data/.gitkeep
!dataset/stage2_data/.gitkeep
src/world_models/*
logs/*
!logs/.gitkeep
results
ckpt/*
!ckpt/.gitkeep
commit/*.pth