*.pyc
__pycache__
*.egg-info/
/build/
/dist/
/result
.venv*
*.log
core
___*.py
___*
.idea
.envrc
.direnv
*.json
dataset
# dataset/stage1_data/*
# dataset/stage2_data/*
src/world_models/*
logs/*
results
ckpt/*
commit/*.pth